<div
  data-id="<%= todo.id %>"
  data-controller="revealable"
  data-action="click->revealable#reveal"
  class="todo-row <%= todo.completed_at? ? 'todo-row-completed' : 'todo-row-incomplete' %>"
>
  <div style="display: flex; flex-direction: row; align-items: center; margin-left: -18px;">
    <div class="handle" style="cursor: grab; color: transparent; height: 30px; width: 30px; min-width: 30px;" data-target="revealable.colorable">
      <%= render 'icons/three_dots_vertical' %>
    </div>
    <span class="todo-title" style="flex-grow: 1;">
      <%= todo.title %>
      <% if !todo.completed_at? %>
        <br>
        <% if todo.due_at > Time.current %>
          <span class="due-in-time <%= due_in_less_than_class(todo) %>">due in <%= time_ago_in_words(todo.due_at) %></span>
        <% elsif todo.due_at > 1.hour.ago %>
          <span class="due-in-time <%= overdue_ago_class(todo) %>">overdue <%= time_ago_in_words(todo.due_at) %> ago</span>
        <% end %>
      <% end %>
    </span>
    <%= button_tag 'edit',
                   class: 'btn btn-link btn-sm',
                   style: 'color: transparent;',
                   data: {
                     reflex: "click->TodosReflex#edit",
                     target: 'revealable.colorable',
                     id: todo.id
                   }
    %>
    <%= check_box_tag nil, nil,
                      todo.completed_at?,
                      class: 'ml-2',
                      style: 'visibility: hidden;',
                      data: {
                        reflex: "click->TodosReflex#toggle_completed_at",
                        target: 'revealable.hidable',
                        id: todo.id
                      }
    %>
  </div>
</div>