<div
  data-id="<%= todo.id %>"
  data-controller="revealable"
  data-action="click->revealable#reveal"
  class="todo-row <%= todo.completed_at? ? 'todo-row-completed' : 'todo-row-incomplete' %>"
>
  <div style="display: flex; flex-direction: row; align-items: center; margin-left: -18px;">
    <div class="handle mr-2" style="cursor: grab;" data-target="revealable.revealable">
      <svg class="bi bi-three-dots-vertical"
           width="1em" height="1em"
           viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
      </svg>
    </div>
    <span class="todo-title" style="flex-grow: 1;">
      <%= todo.title %>
    </span>
    <%= button_tag 'edit',
                   class: 'btn btn-link btn-sm',
                   data: {
                     reflex: "click->TodosReflex#edit",
                     target: 'revealable.revealable',
                     id: todo.id
                   }
    %>
    <%= check_box_tag nil, nil,
                      todo.completed_at?,
                      class: 'ml-2',
                      data: { reflex: "click->TodosReflex#toggle_completed_at",
                              id: todo.id }
    %>
  </div>
</div>