<div
  data-id="<%= todo.id %>"
  data-controller="revealable"
  data-action="click->revealable#reveal"
  class="todo-row <%= todo.completed_at? ? 'todo-row-completed' : 'todo-row-incomplete' %>"
>
  <div style="display: flex; flex-direction: row; align-items: center; margin-left: -18px;">
    <div class="handle mr-2" style="cursor: grab; color: transparent;" data-target="revealable.colorable">
      <%= render 'icons/three_dots_vertical' %>
    </div>
    <span class="todo-title" style="flex-grow: 1;">
      <%= todo.title %>
    </span>
    <%= button_tag 'edit',
                   class: 'btn btn-link btn-sm',
                   style: 'color: transparent;',
                   data: {
                     reflex: "click->TodosReflex#edit",
                     target: 'revealable.colorable',
                     id: todo.id
                   }
    %>
    <%= check_box_tag nil, nil,
                      todo.completed_at?,
                      class: 'ml-2',
                      style: 'visibility: hidden;',
                      data: {
                        reflex: "click->TodosReflex#toggle_completed_at",
                        target: 'revealable.hidable',
                        id: todo.id
                      }
    %>
  </div>
</div>