<div class="row">
  <div class="col-sm-6">
    <h1>Todos</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_todo_path, class: 'btn btn-primary' do %>
      Add New Todo
    <% end %>
  </div>
</div>

<%= render 'form', todo: @todo %>

<div
  data-controller="drag-drop-sortable"
  data-drag-drop-sortable-url="/todos/:id.js"
>
  <% (@todos.incomplete + @todos.complete).each do |todo| %>
    <div
      data-id="<%= todo.id %>"
      class="card card-body <%= todo.completed_at? ? 'todo-card-completed' : '' %> mb-4"
    >
      <%= check_box_tag nil, nil,
                        todo.completed_at?,
                        data: { reflex: "click->TodosReflex#toggle_completed_at",
                                id: todo.id }
      %>
      <p class="<%= todo.completed_at? ? 'todo-completed' : '' %>"><%= todo.title %></p>
    </div>
  <% end %>
</div>