<div class="row">
  <div class="col-sm-6 row">
    <%= link_to 'prev day', todos_on_date_path(date: @date.prev_day) %>
    <h1>Todos on <%= @date %></h1>
    <%= link_to 'next day', todos_on_date_path(date: @date.next_day) %>
  </div>
</div>

<%= render 'form', todo: @todo %>

<div
  data-controller="drag-drop-sortable"
  data-drag-drop-sortable-url="/todos/:id.js"
>
  <% (@todos.incomplete + @todos.complete).each do |todo| %>
    <%= render 'card', todo: todo %>
  <% end %>
</div>